<div class="FMBox">
    Tested Methods
    <div style="margin-top: 10px;">

        <table>
            <tr>
                <th></th>
                <th>Method</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>1</td>
                <td>MA6</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>MA6</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>MA6</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>MA6</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>MA6</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>MA6</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>MA6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>MA6</td>
                <td>8</td>
            </tr>
            <tr>
                <td>9</td>
                <td>MA6</td>
                <td>9</td>
            </tr>
            <tr>
                <td>10</td>
                <td>MA6</td>
                <td>10</td>
            </tr>
        </table>

    </div>
</div>
<div class="FMBox">
    <br />

    <div
        style="border-style: solid; border-width: 4px; border-color:#dbe9f0; border-radius: 2px; padding: 10px 20px; margin-top: 10px;">
        Backtest Settings
        <div style="padding: 4px">
            Forecast Method <br>
            <select name="FCMethod" id="FCMethod" style="width: 100%">
                <option value="2">MA6</option>
            </select>
        </div>
        <div style="padding: 4px">
            Forecast Step <br>
            <select name="FCStep" id="FCStep" style="width: 100%">
                <option value="2">2-months-ahead</option>
                <option value="3">3-months-ahead</option>
                <option value="4">4-months-ahead</option>
                <option value="5">5-months-ahead</option>
            </select>
        </div>

        <div style="padding: 4px">
            Performance Criterion <br>
            <select name="PC" id="PC" style="width: 100%">
                <option value="PIS">PIS</option>
                <option value="MSE">MSE</option>
                <option value="ME">ME</option>
                <option value="ABC">ABC</option>
            </select>
        </div>
        <div style="padding: 4px">
            Forecast Errors <br>
            <select name="FCErrors" id="FCErrors" style="width: 100%">
                <option value="Errors">Errors</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>

    </div>

</div>



<div class="FMBox">
    <div style="margin-top: 10px;">
        <img src="assets/FC_Errors.png" width="90%">
    </div>
</div>