<main>
  <div id="mainInformation">
    <div id="grArticle">GrArticle: {{ArticleID}}</div>
    <div id="month">June 2021</div>
    <div id="articleText">{{ ArticleName }}</div>

    <!--<select id="filterbox" [(ngModel)]="selectedWebsite">
    </select>-->
  </div>

  <br />
<div id="mainGraphs">
  <div id="container" style="width:100%; height:390px;"></div>

</div>
</main>

<div class="menuBar" >
    <ul id="subMenuBar">
        <li style="float:left"><a (click)="changeSubNav('Values')" class="selected" id="valuesButton"><i class="fas fa-table"></i>Forecast Values</a></li>
        <li style="float:left"><a (click)="changeSubNav('Information')" id="valuesInformation"><i class="fas fa-table"></i>Information</a></li>
        <li style="float:left"><a (click)="changeSubNav('Methods')" id="valuesMethods"><i class="fas fa-table"></i>Forecast Methods</a></li>
    </ul>
    <hr id="menuBarLine">
    <br>
</div>
<div id="subMenu">

<app-values  id="Values" style="display: block;" #Values></app-values>
<app-information id="Information" style="display: none;" #Information></app-information>
<app-methods id="Methods" style="display: none;" #Methods></app-methods>
</div>