body {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-weight: 500;
	font-size: 14px;
  }
  
  
  header {
	background-color: #99D3ED;
	color: white;
	height: 36px;
	padding-left: 20px;
	padding-top: 12px;
  }
  
  footer {
	color:gray;
	font-size: 12px;
	margin: 4px 20px;
  }
  
  .headerIcon {
	border: 1px solid white;
	padding: 0px 6px;
	border-radius: 2px;
	display: inline-block;
	font-weight: bolder;
	margin-right: 8px;
  }
  
  hr {
	border-top: 0.5px solid rgb(235, 235, 235);
  }
  
  #headerImg {
	height: 48px;
	margin-top: -12px;
	float: right;
	margin-right: 20px;
  }
  
  main {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	z-index: 0;
  }
  
  .menuBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	height: 60px;
  }

  
  li a {
	display: block;
	color: #99D3ED;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 14px;
  }
  
  li a:hover {
	color:#005981;
  }
  
  .selected {
	color:#005981;
  }
  
  #menuBarLine {
	margin-top: -14px;
	margin-bottom: 0px;
  }
  
  #menuOptions {
	float: right;
  
  }
  
  #month {
	display: inline-block;
	margin-left: 20px;
	font-weight: bolder;
	color: gray;
  }
  
  #articleText {
	display: inline-block;
	margin-left: 20px;
	font-weight: bolder;
	color: gray;
  }
  
  #filterbox {
	float: right;
	display:inline-block;
	font-weight: normal;
	color: black;
	font-size: 14px;
  }
  
  .filter {
	margin-right: 10px;
	display:inline-block;
  }
  
  #summaryTableHeader {
	color: #005981;
	font-weight: bolder;
	margin-bottom: 20px;
  }
  
  table, tr {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
  
  }
  
  th {
	background-color: rgb(122, 122, 122);
	color: white;
	padding: 4px 8px;
  }
  
  table, tr, td {
	border: 1px solid rgb(192, 192, 192);
  }
  
  td {
	padding: 4px 8px;
  }
  
  tr .blue {
	color: #99D3ED;
  }
  
  tr:hover {
	background-color:rgb(243, 243, 243);
	cursor:pointer;
  }
  
  li a i {
	margin-right: 4px;
  }
  
  .selectGray {
	background-color:rgb(230, 230, 230);
  }
  
  select {
	border-color: rgb(187, 187, 187);
	border-radius: 2px;
	padding: 6px;
	display:inline-block;
	min-width: 160px;
  }
  
  .grayButton {
	display: inline-block;
	margin: 0px;
	margin-left: 8px;
	margin-right: 8px;
	
  }
  
  .splitButton {
	padding: 0px;
	border: 1px solid rgb(187, 187, 187);
	border-radius: 2px;
	margin-left: 4px;
  }
  
  #mainInformation {
	margin-top: 16px;
	margin-bottom: 16px;
  }
  #mainGraphs {
	position: relative;
  }
  
  .splitButton i {
	background-color: white;
	display: inline-block;
	padding: 8px;
  }
  
  aside {
	float: right;
	width: 20%;
	height: 800px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 8px;
  }
  
  aside img {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  #chatIcon {
	background-color: #005981;
	color: white;
	float: right;
	z-index: 1;
	position: absolute;
	bottom:30px;
	right: 30px;
	height: 70px;
	width: 70px;
	border-radius: 1000px;
	padding:15px;
  }
  
  .FMBox {
	width: 32%;
	height: 99%;
	margin: 0.5%;
	font-size: 14px;
	float: left;
  }
  
  .FMBoxWide {
	width: 47%;
	height: 99%;
	margin: 0.5%;
	font-size: 14px;
	float: left;
  }
  
  .FMBoxSmall {
	width: 25%;
	height: 99%;
	margin: 0.5%;
	font-size: 14px;
	float: left;
  }
  