<header>
    <div class="headerIcon">ADF</div> <b>Advanced Demand Forecast</b> <img id="headerImg"
        src="https://www.plattform-i40.de/IP/Redaktion/DE/Anwendungsbeispiele/042-augmented-reality/logo-basf.png?__blob=normal&v=1&size=420w">

</header>
<div class="menuBar" id="menuBar">
    <ul>
        <li style="float:left"><a class="notClickable" disabled><i class="fas fa-th-list" ></i>Infoprovider</a></li>
        <li style="float:left"><a class="selected" (click)="changeNav('Summary')" id="navSummary"><i class="fas fa-table"></i>Summary</a></li>
        <li style="float:left"><a class="notClickable" disabled><i class="fas fa-chart-line"></i>Forecast</a></li>
        <li style="float:left"><a class="notClickable" disabled><i class="fas fa-chart-bar"></i>Statistics</a></li>
        <li style="float:left"><a (click)="changeNav('Article Forecast')"id="navArticleForecast"><i class="fas fa-chart-line"></i>Article Forecast</a></li>
        <!--<li style="float:right; ">
                  <a href="#settings" style="margin-top:-8px">
                      <span style="font-size: 24px; color:rgb(122, 122, 122)"><i class="fas fa-cog"></i></span>
                  </a>
              </li>-->
        <li style="float:right;" >
            <a  (click)="openManual()" style="margin-top:-8px">
                <span id="manual" style="font-size: 24px; color: #99D3ED "><i class="fas fa-book"
       #tooltip="matTooltip"
           matTooltip="Click here to open the user manual"
           matTooltipPosition= "above"></i></span>
            </a>
        </li>
    </ul>
    <hr id="menuBarLine">
</div>
<main id="main" style="width: 98%; display: inline-block;">
    <app-article id="Article" style="display: none;" #article ></app-article>
    <app-summary id="Summary" style="display: block;" #summary></app-summary>
</main>
<div id="chatIcon" (click)="showChat()" style="display: block; cursor: pointer"        #tooltip="matTooltip"
           matTooltip="Click here to open the the conversational assistant Planny"
           matTooltipPosition= "above">
    <span style="font-size:32px"><i class="fas fa-comments"></i></span>
</div>
<aside id="webChat" class="webchat-container" style="display: none;">
    <div id="closeIcon" (click)="hideChat()" style="display: block;">
        <span style="font-size:12px">X</span>
    </div>
    <div  style="display: block; text-align: right;">Planny</div>
    <div id="botWin" style="height: calc(100% - 20px)" #botWindow></div>

</aside>
