:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}


.homeBackground {
  background:white;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

/* standard button*/
.standard-button {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  overflow: visible;
  -webkit-appearance: button;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  //touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  line-height: 1.42857143;
  user-select: none;
  border: none;
  position: relative;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  will-change: box-shadow,transform;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 2px 0 rgba(156,39,176,.14),0 3px 1px -2px rgba(156,39,176,.2),0 1px 5px 0 rgba(156,39,176,.12);
  background-color: #112e51;
  color: #fff;
  border-radius: 30px;
  padding: 9px 20px;
  margin: 50px 1px 15px 0;
  font-size: 14px;
}

/* rounded button */

.rounded-button {
  border-radius: 50%;
  padding: 7px 7px 7px 7px;
  margin: 7px 7px 7px 7px;
  color: dimgray
}




/* logo */

a.logolink {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  padding: 5px 0;
  display: block;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
  overflow: hidden;
  transition: all .3s linear;
  color: #ce7da2;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}

.logo {
  font-size: 14px;
  color: #3c4858;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  padding: 5px 5px 5px 11px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
}

.logo:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(180,180,180,.3);
  margin-bottom: 0px;
}